<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<title th:text="${party.name}"></title>

<link rel= "stylesheet" th:href="@{/css/party.css}">
</head>
<body>
	<div class="table">
		<table>
		<thead>	
			<tr>
				<th th:text = "${party.name}"><th>
			</tr>
		</thead>
		<thead>	
			<tr>
				<th>Player<th>
				<th>Character<th>
				<th>Experience<th>
				<th>Alignment<th>
				<th>Coins<th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="player : ${players}">
				<td th:text = "${player.name}"></td>
				<td th:text = "${player.PlayerCharacter.name}"></td>
				<td th:text = "${player.PlayerCharacter.xp}"></td>
				<td th:text = "${player.PlayerCharacter.alighment}"></td>
				<td th:text = "${player.PlayerCharacter.coins}"></td>
			</tr>
		</tbody>			
		</table>
	</div>
</body>

</html>